---
layout: post
slug: "book"
title: "书柜"
noDate: "true"
comments: "false"
---
<link rel="stylesheet" href="./ins.css">
<div class="photos-btn-wrap">
	<a class="photos-btn active" href="javascript:void(0)">书籍</a>
</div>
<div class="instagram itemscope">
	<a href="https://www.instagram.com/lawlitewang20/" target="_blank" class="open-ins">书柜加载中....</a>
</div>
<script>
  (function() {
    var loadScript = function(path) {
      var $script = document.createElement('script')
      document.getElementsByTagName('body')[0].appendChild($script)
      $script.setAttribute('src', path)
    }
    setTimeout(function() {
      loadScript('./ins.js')
    }, 0)
  })()
</script>
